body {
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

h2 {
  color: green;
  margin-left: 20px;
}

h3 {
  color: pink;
  margin-left: 20px;
}

.wrapper {
  width: 90%;&quot;
}
